<article class="{{post_class}}">
  <header class="post-head">
    <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    <p class="post-meta"><span>Published on<br>
      <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time></span></p>
  </header>
  <section class="post-excerpt">
    <p>{{excerpt}}&hellip;</p>
  </section>
</article>
