<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
  <link rel="stylesheet" href="{{asset "css/main.css"}}">
  <link rel="apple-touch-icon-precomposed" href="{{asset "images/touch-icon-iphone.png"}}">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{asset "images/touch-icon-ipad.png"}}">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{asset "images/touch-icon-iphone-2x.png"}}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{asset "images/touch-icon-ipad-2x.png"}}">
  {{ghost_head}}
</head>
<body class="{{body_class}}">
  {{{body}}}
  {{ghost_foot}}
  <script src="{{asset "js/main.js"}}"></script>
</body>
</html>
