{{!< default}}
{{> single-head}}
<div class="wrapper">
  <main class="content" role="main">
    <article class="{{post_class}}">
      {{#post}}
        <header "post-head">
          <h1 class="post-title"><a href="{{url absolute="true"}}">{{{title}}}</a> <i class="icon-link"></i></h1>
          <p class="post-meta"><time title="{{date format="MMMM D, YYYY"}}" datetime="{{date format="YYYY-MM-DD"}}">{{date timeago="true"}}</time></p>
        </header>
        <section class="post-content">
          {{content}}
        </section>
      {{/post}}
    </article>
  </main>
  {{> footer}}
</div>
